registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
better_sqlite3_binary_host=https://npmmirror.com/mirrors/better-sqlite3
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
